.search__bar{
    height: 20vh;
    display:flex;
    flex-direction:row;
    color:black;
    background-color:#5BA4A4;
    width: 100%;
}

.search__left{
    width: 25%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    padding-inline: 1rem;
}